services:

  webscraper:
    build:
      context: .
      dockerfile: webscraper/Dockerfile

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../../../.env
    depends_on:
    - webscraper
  
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000